@model IEnumerable<BelingualAcademy.Models.Group>

@Scripts.Render("~/bundles/jquery")
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#buttonId').click(function () {
                            $('#divid').load('@Url.Action("Index", "Groups")');
                        });
                    });
                </script>

                <a id="buttonId">Load partial view or Any URL</a>
            </td>
        </tr>
    }


</table>
